@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  body {
    background-image: url("/bg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    /* height: 100vh; */
    color: white;
}
@media (max-width: 400px) {
  body {
    background-image: url("/bg.jpg");
    object-fit: cover;
    height: auto;
  }
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282828a2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111928;
  border-radius: 5px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(17, 17, 17, 0.889);
}